body {
    position: relative;
    z-index: 1;
}

body:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    z-index: -1;
    background: url("../../assets/images/background.jpg") no-repeat;
    background-size: 100%;
}

div#application-container {
    width: 50%;
    margin: 0 auto;
}

table
{
    table-layout: fixed;
    width: 100%;
}
table, td
{
    border: solid 2px #D1D3D5;
    border-collapse: collapse;
    padding: 3px 4px;
    text-align: center;
    height: 8vw;
}
img
{
    width: 64%;
}

td.tile1 {
    background-image: url("../../assets/images/tile1.png");
}

td.tile2 {
    background-image: url("../../assets/images/tile2.png");
}

td.tile3 {
    background-image: url("../../assets/images/tile3.png");
}

td > img {
    height: 50%;
}