div#application-container {
    width: 60%;
    margin: 0 auto;
}

table {
    width: 100%
}

td {
    height: 120px;
    border: 1px solid grey;
    background-image: url("../../assets/images/tile3.png");
}